<div class="container mb-3">
    <div class="row justify-content-center">
        <div class="burgerImg">
            <img src="assets/img/burger.png" class="img-fluid" alt="burger">
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col col-sm-4">
            <h2>Eat-Da-Burger!</h2>
            <input type="text" id="addBurger" class="form-control">
            <button type="submit" class="btn btn-primary mt-2" id="placeBurger">Submit</button>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col">
            {{#each burgerArray}}
                <div class="container m-1 p-1">
                    <div class="textBlock">
                        <span>{{this.id}}. {{this.burger_name}}</span>
                    </div>
                    <button class="devour" data-num="{{this.id}}">Devour it!</button>
                </div>
            {{/each}}
        </div>
        <div class="col">
            {{#each devouredArray}}
                <div class="container m-0 p-0">
                    <div class="textBlock2">
                        <span>{{this.id}}. {{this.burger_name}}</span>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
</div>


<script>
    $(function(){
        $("#placeBurger").on('click',(event)=>{
            event.preventDefault();
            var newBurger = {
                burger_name: $('#addBurger').val()
            };
            $.ajax({
                method:"POST",
                url: "/api/burgers",
                headers: {
                    "Accept": "application/json",
                    "Content-Type": "application/json"
                },
                data: JSON.stringify(newBurger)
            }).then(data=>{
                if(data){
                    console.log("New Burger Added!");
                    location.reload();
                }
            });
        })
        $('body').on('click','.devour',function(){
            var id = $(this).data('num');
            console.log("eat burger # " + id);
            $.ajax({
                method: "PUT",
                url: `/api/burgers/${id}`
            }).then(data=>{
                if(data){
                    console.log("eatten burger #" + id);
                    location.reload();
                }
            })
        })
    });
</script>